.loader-container {
  display: inline-block;
}

.animated-loader .atom-group {
  animation: rotate 3s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  transform-origin: 12px 12px;
  will-change: transform;
}

.animated-loader .code-group path {
  animation: pulse 1.5s ease-in-out infinite;
  will-change: opacity;
}

.animated-loader .code-path-1 {
  animation-delay: 0s;
}

.animated-loader .code-path-2 {
  animation-delay: 0.3s;
}

.animated-loader .code-path-3 {
  animation-delay: 0.6s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.5;
  }
  
  50% {
    opacity: 1;
  }
}