<div class="footer-content">
	<a
		class="brand small"
		href="index.html">
		<sl class="sl-icon"></sl>
		<span>ScriptLabs</span>
	</a>
	<nav class="footer-nav">
		<a href="/pages/about.html">About</a>
		<a href="/pages/tools.html">Tools</a>
		<a href="/pages/addons.html">Add-ons</a>
		<a href="/pages/tutorials.html">Tutoriales</a>
		<a href="/pages/community.html">Comunidad</a>
	</nav>
	<div class="socials card glass">
		<a
			aria-label="YouTube"
			href="https://youtube.com/@ScriptLabs"
			target="_blank"
			rel="noopener">
			<sl class="yt red"></sl>
			<span class="yt">YouTube</span>
		</a>
		<a
			aria-label="Discord"
			href="https://discord.gg/BFG3T8MBWN"
			target="_blank"
			rel="noopener">
			<sl class="dc purpledc"></sl>
			<span class="dc">Discord Server</span>
		</a>
		<a
			href="https://www.curseforge.com/members/scriptlabs/"
			aria-label="CurseForge"
			target="_blank"
			rel="noopener"
			>
		  <sl class="cf orange"></sl>
		  <span class="cf">CurseForge</span>
		</a>
	</div>
	<p class="legal">
		© <span id="year"></span> ScriptLabs. Todos los derechos reservados.
	</p>
</div>
