<!-- components/nav.html -->
<a
	class="brand"
	href="/index.html"
	aria-label="ScriptLabs inicio">
	<span class="sl-icon-c">
		<sl class="sl-icon white"></sl>
	</span>
	<span>ScriptLabs</span>
</a>
<nav id="nav" class="nav">
	<a href="/pages/about.html">About</a>
	<a href="/pages/tools.html">Tools</a>
	<a href="/pages/addons.html">Add-ons</a>
	<a href="/pages/tutorials.html">Tutoriales</a>
	<a href="/pages/templates.html">Plantillas</a>
	<a href="/pages/community.html">Comunidad</a>
</nav>
<button
	id="navToggle"
	class="nav-toggle"
	aria-label="Abrir menú">
	<sl class="menu white"></sl>
</button>